body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

core-toolbar {
  color: #FAFAFA;
  background-color: #03A9F4;
}

#signin-button {
  color: #FAFAFA;
  background-color: #03A9F4;
  margin-top: 10em;
  width: 10em;
}
